<!DOCTYPE html>

@{ViewBag.Title = "About Us";}

<html>
    <head>
        <title>PUP Alumni Tracker</title>
    </head>

    <body>
        <br /><br />
        <h1><strong>PUP Alumni Tracker</strong></h1><br /><br/>
        
        <div id="about">
            <p id="body">Polytechnic University of the Philippines <strong>(PUP)</strong> Alumni Tracker is a free website that 
            will help the currect PUP student to seek help from the alumni on fulfilling their studies.</p><br /><br />
            <p>Inviting alumni as a resource speaker is very helpful for an additional<br /> knowledge that they need.</p>
            <image width="500" height="280" src="https://www.shillingtonchurch.org/images/Guest-Speaker.jpg" /><br><br>
            <p>Speakers can be able to share the application of what they learn from<br /> school to the corporate world.</p>
            <image width="500" height="280" src="https://kuulpeeps.com/wp-content/uploads/2017/09/lecture-1.jpg" /><br><br>
        </div>
    </body>
</html>

<footer>

</footer>
