@{
    ViewBag.Title = "Contact";
}
<h2>Contact Us</h2>


<address>
    PUP Alumni Tracker<br />
    #9 11th St. Victoria Avenue<br />
    Brgy.Damayang Lagi<br/>
    New Manila, Quezon City 1112<br/>
    <abbr title="Phone">P:</abbr>
    +639 106 235 581
</address>

<div id="walking">
    <img src="http://www.avonwaterservices.co.uk/images/2stick_figure_walking_readi.gif"/>
</div>

@*<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@